<%= turbo_stream_from "board" %>

<nav class="board-nav">
  <%= link_to "How it works", info_path %>
  <%= link_to "FAQ", faq_path %>
</nav>

<section class="fr-submit">
  <h2>Submit a feature request</h2>
  <%= render "form", feature_request: @feature_request %>
</section>

<section class="fr-board">
  <% %w[todo doing to_review reviewing review_feedback failed].each do |col| %>
    <div class="fr-column">
      <h3 class="fr-column__title"><%= col.humanize %></h3>
      <div id="fr-column-<%= col %>" class="fr-column__cards">
        <% @feature_requests.select { |fr| fr.status == col }.each do |fr| %>
          <%= render "card", feature_request: fr %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
