<%= turbo_stream_from "feature_request_#{@feature_request.id}_events" %>
<%= turbo_stream_from "feature_request_#{@feature_request.id}" %>

<div class="fr-show">
  <nav><%= link_to "← Board", root_path %></nav>

  <div id="<%= dom_id(@feature_request, :header) %>">
    <%= render "header", feature_request: @feature_request %>
  </div>

  <section class="fr-show__body">
    <h3>Request</h3>
    <div><%= simple_format(@feature_request.body) %></div>
  </section>

  <section class="fr-show__events">
    <h3>Agent events</h3>
    <div id="fr-<%= @feature_request.id %>-events" class="ae-stream">
      <%= render partial: "agent_events/event", collection: @events, as: :event %>
    </div>
  </section>
</div>
